<div class="container">
    <div class="row">
        <div class="d-flex justify-content-end"><i class="fa-solid fa-heart"></i></div> 
    </div>
    <div class="row">
        <div class="col-lg mt-3 ml-5 pt-5 pl-5 pokemon-name">
            <div class="container-fluid">{{pokemonName}}</div></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <!---Pokemon mini info-->
        <div class="col">
            <app-pokemon-info [pokemonDetails]="pokemonDetails"></app-pokemon-info>
        </div>
        <div class="col">
            <app-details [pokemonDetails]="pokemonDetails"></app-details>
        </div>
    </div>
</div>
