.container {
    background: black;
    padding: 0;
}

.grass {
    background: linear-gradient(109.73deg, #65CB9A 0%, #15D0DC 100%);
}

.fire {
    background: linear-gradient(180deg, #E68061 0%, #DBB469 100%);
}

.water {
    background: linear-gradient(109.73deg, #65CB9A 0%, #15D0DC 100%);
}

.normal {
    background: #ACB2C1;
}

.poison {
    background: linear-gradient(109.73deg, #46469C 0%, #7E32E0 100%);
}

.dark {
    background: #1F2029;
}

.bug {
    background: linear-gradient(109.73deg, #65CB9A 0%, #15D0DC 100%);
}

.fairy {
    background-color: #f9d1b7;
    background-image: linear-gradient(315deg, #f9d1b7 0%, #f894a4 74%);
 
}

.psychic {
    background-color: #ee5166;
    background-image: linear-gradient(315deg, #ee5166 0%, #f08efc 74%);
}

.electric {
    background-color: #f39f86;
   background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.ground {
    background-color: #69140e;
    background-image: linear-gradient(315deg, #69140e 0%, #d58936 74%);


}
.pokemon-name {
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;
/* identical to box height, or 121% */

letter-spacing: 0.374px;

color: #FFFFFF;
}

.fa-regular.fa-heart {
    padding-right: 35px; 
    margin-top: 50px;
    color: white;
    font-weight: 200;
}

.fa-regular.fa-heart:hover {
    color: red;
    font-weight: 600;
}