<div class="container-xxl m-0 p-0">
    <!-----------------STATS------------------------------------>
    <div class="row pb-3">
        <div class="col">
            <h3>Stats</h3>
            <div class="card container-fluid" style="width: 25rem; padding: 20px;">
                <div class="card-body p-0">
                    <table class="table table-borderless p-0">
                      <tbody>
                        <tr *ngFor="let stat of pokemonDetails.stats">
                          <td scope="row" class="text-muted">{{stat.stat.name}}</td>
                          <td>{{stat.base_stat}}</td>
                          <td class="w-100">
                            <div class="progress" style="height: 4px; margin-top: 6px;">
                                <div class="progress-bar" [ngClass]="(stat.base_stat) >= 50 ? 'bg-success' : 'bg-danger'" role="progressbar" [style.width]='(stat.base_stat) + "%"' aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                       <tr>
                        <td scope="row" class="text-muted">Total</td>
                            <td>{{total}}</td>
                            <td class="w-100">
                              <div class="progress" style="height: 4px; margin-top: 6px;">
                                  <div class="progress-bar" [ngClass]="(total) >= 50 ? 'bg-success' : 'bg-danger'" role="progressbar" [style.width]='(total) + "%"' aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
        </div>
    </div>
    <!--------------------------MOVESETS------------------------------------>

    <div class="row pb-3">
        <div class="col">
          <h3>MOVESETS</h3>
            <div class="card container-fluid" style="width: 25rem; padding: 20px;">
                <div class="card-body p-2">
                    <table class="table table-borderless p-0">
                      <tbody>
                        <tr *ngFor="let move of pokemonDetails.moves.slice(0, 2) let i=index">
                          <td scope="row" class="p-0 m-0"><div class="w-100 d-flex justify-content-center" [ngClass]="pokemonDetails.moves.slice(0, 2)[i].version_group_details[0].level_learned_at < 2 ? 'level-chip_one' : ''">Level {{pokemonDetails.moves.slice(0, 2)[i].version_group_details[0].level_learned_at}}</div></td>
                          <td>{{pokemonDetails.moves.slice(0, 2)[i].move.name}}</td>
                          
                        </tr>
                        <tr *ngFor="let move of pokemonDetails.moves.slice(2, 4) let ind=index">
                          <td scope="row" class="p-0 m-0"><div class="w-100 d-flex justify-content-center" [ngClass]="pokemonDetails.moves.slice(2, 4)[ind].version_group_details[0].level_learned_at < 2 ? 'level-chip_one' : ''">Level {{pokemonDetails.moves.slice(2, 4)[ind].version_group_details[0].level_learned_at}}</div></td>
                          <td>{{pokemonDetails.moves.slice(2, 4)[ind].move.name}}</td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
        </div>
    </div>

    <!---------------------EVOLUTIONS----------------------------------->
    <div class="row pb-3">
        <div class="col">
           
          </div> 
    </div>
</div>
