<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li>
                filter
                </li>
                <li>
                    another filter
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Pokedex</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" placeholder="Pokemon zoeken">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-button [image]="teamImg" [title]="teamTitle"></app-button>
        </div>
        <div class="col">
            <app-button [image]="favImg" [title]="favTitle"></app-button>
        </div>
    </div>
</div>
