<div class="container-xxl">
    <div class="row">
      <div class="col">
        <ul class="nav justify-content-end">
          <li class="nav-item">filter</li>
          <li class="nav-item">another filter</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3 pt-5 pb-3">
        <h1>Pokedex</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg pb-3">
        <form (keydown)="keyDownFunction($event)">
            <div class="form-group">
              <input 
              type="text" 
              placeholder="Pokemon zoeken"
              name="term"
              class="form-control"
              [(ngModel)]="term">
            </div>
        </form>
      </div>
    </div>
    <div class="row mb-3 p-2">
            <div class="col-5 m-0 p-0 d-flex justify-content-start">
                <app-button
                        class="img-fluid col-lg-12 w-100 m-0 p-0"
                        [image]="teamImg"
                        [title]="teamTitle"
                      ></app-button>
            </div>
            <div class="col-5 m-0 p-0 d-flex justify-content-end">
                <app-button
                        class="img-fluid col-lg-12 w-100 m-0 p-0"
                        [image]="favImg"
                        [title]="favTitle"
                        ></app-button>
            </div>
          </div>
      
    <div class="row" style="height: 550px; overflow-y: scroll">
      <div class="col-lg pb-3 p-0 m-0">
        <div class="overflow-auto" *ngFor="let pokemon of pokemons$ |filter:term">
            <app-pokemon [pokemon]="pokemon" (pokemonId)="getPokemonById($event)"></app-pokemon>
        </div>
      </div>
    </div>
  </div>
  