<div class="container m-0 p-0">
            <div class="container-fluid mr-0 pr-0" style="width: 22rem;">
                <img src="../../../../assets/img/def.png" class="card-img-top mr-0" alt="...">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <h5 class="info mt-10 p-4">INFO</h5>
                </div>
              </div>
            </div>
            <div class="card container-fluid" style="width: 25rem; padding: 20px;">
              <div class="card-body p-0">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td scope="row" class="text-muted">Type</td>
                        <td><button class="btn btn-succes" *ngFor="let type of pokemonDetails.types">{{type.type.name}}</button></td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Nummer</td>
                        <td>{{pokemonDetails.id}}</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Gewicht</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Hoogte</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Categorie</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Geslacht</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Vaardigheden</td>
                        <td>Larry</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
</div>       
