<div class="container m-0 p-0">
            <div class="container-fluid mr-0 pr-0" style="width: 22rem;">
                <img src="../../../../assets/img/def.png" class="card-img-top mr-0" alt="...">
            </div>
            <div class="container-fluid info">
                <h5 class="mr-0">Info</h5>
            </div>
            <div class="card container-fluid" style="width: 22rem;">
                <div class="card-body p-2">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td scope="row" class="text-muted">Type</td>
                        <td><div class="chip">
                            Tag 220
                            <i class="close fas fa-times"></i>
                          </div></td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Nummer</td>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Gewicht</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Hoogte</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Categorie</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Geslacht</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Vaardigheden</td>
                        <td>Larry</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
</div>       
