<div class="container m-0 p-0">
            <div class="container-fluid mr-0 pr-0" style="width: 22rem;">
                <img src={{pokemonDetails.sprites.front_default}} class="card-img-top mr-0 zoom" alt="...">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <h5 class="info mt-10 p-4">INFO</h5>
                </div>
              </div>
            </div>
            <div class="card container-fluid" style="width: 25rem; padding: 20px;">
              <div class="card-body p-0">
                  <p class="card-text">This field is for a short description of the pokemon. Not available in the API.</p>
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td scope="row" class="text-muted">Type</td>
                        <td  *ngFor="let type of pokemonDetails.types">
                          <div class="type-chip {{type.type.name}}"> {{type.type.name}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Nummer</td>
                        <td>{{pokemonDetails.id}}</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Gewicht</td>
                        <td>{{pokemonDetails.weight}}</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Hoogte</td>
                        <td>{{pokemonDetails.height}}</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Categorie</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Geslacht</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td scope="row" class="text-muted">Vaardigheden</td>
                        <td *ngFor="let ability of pokemonDetails.abilities">{{ability.is_hidden === false && ability.ability.name || ability.is_hidden === true && ''}}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
</div>       
